# Node modules
node_modules/

# Expo
.expo/
.expo-shared/
expo-env.d.ts

# Build artifacts
dist/
build/
web-build/

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# Firebase
firebase-debug.log
.firebaserc

# Logs
npm-debug.log*
npm-debug.*
yarn-debug.log*
yarn-debug.*
yarn-error.log*
yarn-error.*

# Environment secrets
.env
.env*
.env*.local
.env.production
.env.development

# IDEs
.vscode/
.idea/

# macOS
.DS_Store
*.pem

# Windows
Thumbs.db

# TypeScript
*.tsbuildinfo

_docs/