rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Users Collection
    match /users/{userId} {
      // A user can create their own document, but not someone else's.
      allow create: if request.auth != null && request.auth.uid == userId;

      // Authenticated users can read public user profiles.
      allow read: if request.auth != null;

      // A user can only update their own document.
      allow update: if request.auth != null && request.auth.uid == userId;

      // Deleting user documents via the client is disallowed.
      allow delete: if false;
    }

    // --- Add Rules for Other Collections Below ---
  }
}
